.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0!important;
}

.card {
    margin: 0 2% !important;
}

.infected {
    border-bottom: 10px solid #42a5f5;
}

.recovered {
    border-bottom: 10px solid #4ac2b6;
}

.deaths {
    border-bottom: 10px solid #f06292;
}